version: 2.1
#orbs:
        #  welcome: circleci/welcome-oeb@0.4.1

jobs:
  create_infrastructure: 
      docker:
        - image: python:3.7-alpine3.11
      steps:
        - run:
            name: Edit ssh connecting
            command: |
              ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
        - checkout
        - add_ssh_keys:
            fingerprints: ["17:f5:6e:f2:3d:b0:b2:ca:0b:a2:ed:aa:31:e9:30:a2"]
        # - name: accept new ssh fingerprints                                         
        #     shell: ssh-keyscan -H {{ item.public_ip }} >> ~/.ssh/known_hosts          
        #     with_items: '{{ ec2.instances }}'
        #     sed -i -e '/host_key_checking/s/True/False/' /etc/ansible/ansible.cfg
        - run:
            name: Install Ansible
            command: |
              apk add --update ansible
        - run:
            name: Play the playbook
            command: |
              ansible-playbook -i inventory.txt main.yaml  
        # - run:
        #     name: Create Cloudformation Stack
        #     command: |
        #       aws cloudformation deploy \
        #         --template-file template.yml \
        #         --stack-name myStack \
        #         --region us-east-1
  

workflows:
  my_workflow:
    jobs:
      - create_infrastructure
