version: 2.1
#orbs:
        #  welcome: circleci/welcome-oeb@0.4.1

jobs:
  create_infrastructure: 
      docker:
        - image: ubuntu:focal-20201106
      steps:
        - checkout
        - add_ssh_keys:
            fingerprints: ["17:f5:6e:f2:3d:b0:b2:ca:0b:a2:ed:aa:31:e9:30:a2"]
        # - name: accept new ssh fingerprints                                         
        #     shell: ssh-keyscan -H {{ item.public_ip }} >> ~/.ssh/known_hosts          
        #     with_items: '{{ ec2.instances }}'
        #     sed -i -e '/host_key_checking/s/True/False/' /etc/ansible/ansible.cfg
        - run:
            name: Update  
            command: apt-get update -y
        - run:
            name: Install common
            command: |
              apt install software-properties-common -y
        - run:
            name: Add the repo
            command: |
              add-apt-repository ppa:deadsnakes/ppa
        - run:
            name: Install python
            command: apt install python3.9 -y
        - run:
            name: Knowing the python version
            command:
              python3 --version
        - run:
            name: Install Pip
            command: |
              apt install python3-pip -y
        - run: |
              python3 get-pip.py
        - run: |
            whereis ansible
            pip3 list  | grep ansible
            ansible --version
        - run:
            name: Play the playbook
            command: |
              ansible-playbook -i inventory.txt main.yaml  
        # - run:
        #     name: Create Cloudformation Stack
        #     command: |
        #       aws cloudformation deploy \
        #         --template-file template.yml \
        #         --stack-name myStack \
        #         --region us-east-1
  

workflows:
  my_workflow:
    jobs:
      - create_infrastructure
